body {
	background: url("../images/background.png");
}

header {
	margin-bottom: 40px;
	text-align: center;
}

#title {
	font-size: 80px;
    font-weight: 600;
    color: white
}

.userInput {
	margin: 5px auto;
}

.player {
	width: 60%;
	margin: 5px auto;
}

#addPlayerInput {
	width: 60%;
}

.content {
	width: 50%;
	display: inline-block;
}

.rating {
	color: rgb(200,200,200);
}